<% if @art_groups.any? %>
<table class="table table-striped art_groups-table">
  <thead>
    <th>Title</th>
    <th>Description</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <% @art_groups.each do |art_group| %>
    <tr>
      <td>
        <%= link_to art_group.title, edit_admin_art_group_path(art_group) %>
      </td>
      <td>
        <%= art_group.description %>
      </td>
      <td><%= art_group.image %></td>
      <td>
        <%= link_to("Edit", edit_admin_art_group_path(art_group), class: "btn btn-primary") %>
      </td>
      <td>
        <%= link_to("Delete", admin_art_group_path(art_group),
            method: :delete,
            "data-confirm" => "Are you sure?",
            class: "btn btn-danger") %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p>
  No art groups yet. <%= link_to("Create One", new_admin_art_group_path) %>
</p>
<% end %>
