<%= simple_form_for(
  @artwork,
  url: @artwork.new_record? ? admin_artworks_path : admin_artwork_path(@artwork),
  method: @artwork.new_record? ? :post : :put,
) do |f| %>
  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :slug %>
    <%= f.input :long_title, :input_html => { :rows => 10 }, :hint => "Markdown" %>
    <div class="row">
      <div class="col-xs-2">
        <%= f.input :height %>
      </div>
      <div class="col-xs-3">
        <%= f.input :width %>
      </div>
      <div class="col-xs-3">
        <%= f.input :year, collection: years_artwork_created, as: :select %>
      </div>
    </div>
    <%= f.input :art_group_id, collection: ArtGroup.all, as: :select %>
    <%= f.input :medium_id, collection: Medium.all, as: :select %>
    <%= f.input :image %>
    <%= f.input :notes, :input_html => { :rows => 10 }, :hint => "Markdown" %>
    <h2>Sales</h2>
    <%= f.input :price %>
    <%= f.input :available %>
    <%= f.input :sold %>
    <%= f.input :sold_to %>
    <%= f.input :sale_date %>
    <%= f.input :sale_location %>
    <%= f.input :sale_price %>
    <%= f.input :sales_tax_paid %>
    <%= f.input :sales_tax_paid_date %>
    <%= f.input :sale_notes, :input_html => { :rows => 10 }, :hint => "Markdown" %>
  </div>
  <%= link_to("Cancel", admin_artworks_path, class: "btn btn-danger") %>
  <%= f.button :submit, class: "btn-primary pull-right" %>

<% end %>
