<div class="row">
  <div class="col-md-4 col-sm-4 col-xs-4">
    <% if @art_group.prev.present? %>
      <%= link_to art_group_path(@art_group.prev), {:class => "art-group-nav"} do %>
      <i class="fa fa-angle-left"></i> Prev Series
      <% end %>
    <% else %>
      &nbsp;
    <% end %>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-4 text-center">
    <%= link_to art_groups_path, {:class => "art-group-nav"} do %>
     - All Series -
    <% end %>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-4">
    <% if @art_group.next.present? %>
    <%= link_to art_group_path(@art_group.next), {:class => "pull-right art-group-nav"} do %>
    Next Series <i class="fa fa-angle-right"></i>
    <% end %>
    <% else %>
    &nbsp;
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-9">
    <h1 class="page-header"><span>series:</span> <%= @art_group.title %></h1>
  </div>
</div>
<% @artworks.in_groups_of(3, false).each do |group| %>
  <div class="row artwork-by-group">

    <% group.each do |artwork| %>
      <div class="col-md-4 col-sm-4">
        <%= link_to artwork_path(artwork), {class: "link-to-artwork"} do %>
          <%= image_tag artwork.image.url(:medium), :alt => artwork.title, :class => "artwork-thumb" %>
          <h6 class="artwork-title"><%= artwork.title %></h6>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
