<!DOCTYPE html>
<html>
<head>
  <title>Kelly Packer<% if @page_title.present? %> | <%= @page_title %><% end %></title>
  <meta name="description" content="<%= @page_desc %>">
  <%= stylesheet_link_tag    "manifest", :media => "all" %>
  <script type="text/javascript" src="//use.typekit.net/wnf3clz.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= "#{controller.controller_name} #{@body_class}".strip %>">
<div class="container">

  <%= render 'header' %>
  <div class="yield-wrap">
    <%= yield %>
  </div>
  <%= render 'footer' %>
</div>



</body>
</html>
